<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Über uns</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div style="text-align: justify; hyphens: auto" class="col-lg-4 col-lg-offset-2">
        <p>Liebe Bräute,</p>
        
        <p>mein Name ist Mika Bruhn. Seit über 20 Jahren arbeite ich selbstständig als Schneidermeisterin und Designerin.</p>
        
        <p>Nach fünf jähriger Mitarbeit als Schneiderin im Brautbereich habe ich im Juni 2016 Brautmoden Melanie als Inhaberin
        übernommen und seither befinden sich die neuen Geschäfts- und Werkräume in Augsburg Lechhausen.</p>
      </div>
      <div style="text-align: justify; hyphens: auto" class="col-lg-4">
        <p>&nbsp;</p>
        <p>2017 hat Anne zur Verstärkung bei mir angefangen. Anne hat Modedesign studiert und zusätzlich ihre Ausbildung als Maßschneider absolviert.</p>
        
        <p>Seit Jahren erfüllen wir nun gemeinsam die Träume unserer Kundinnen – mit solidem Know-how, viel Herzblut und stets aus
        einer Hand. Sehr oft wurden wir schon weiterempfohlen. </p>
      </div>
    </div>
      
      <div class="row">
        <div style="text-align: justify; hyphens: auto" class="col-lg-12 col-lg-offset-2 text-center ">
          <br>
        <p>Wann dürfen wir Sie bei uns begrüßen? Wir freuen uns auf Ihren Terminwunsch.</p>
        <p>Termine nach Vereinbarung von Dienstag bis Samstag.</p>
        </div>
      </div>

      
    
  </div>
</section>
